---
import Hero from "../components/Hero.astro";
import Layout from "../layouts/Layout.astro";
import ContentIdentify from "../components/ContentIdentify.astro";
---

<Layout selected="identify">
  <main class="flex flex-col items-center">
    <Hero page={1} />
    <ContentIdentify phase="none" />
  </main>
</Layout>
