---
import PhylumCard from "./PhylumCard.astro";
---

<section
  class="w-[80%] min-h-[570px] rounded-[45px] shadow-stable mb-[77px] py-8 items-center justify-center"
>
  <div
    class="grid grid-cols-exploreContentGrid justify-items-center gap-y-12 gap-x-4 mx-10 my-12"
  >
    <PhylumCard phylum="PROTOZOARIO" />
    <PhylumCard phylum="PORIFERO" />
    <PhylumCard phylum="CNIDARIO" />
    <PhylumCard phylum="CTENOFORO" />
    <PhylumCard phylum="PLATELMINTO" />
    <PhylumCard phylum="NEMERTINO" />
    <PhylumCard phylum="ASQUELMINTO" />
    <PhylumCard phylum="ACANTOCEFALO" />
    <PhylumCard phylum="MOLUSCO" />
    <PhylumCard phylum="ANELIDO" />
    <PhylumCard phylum="ARTROPODO" />
    <PhylumCard phylum="EQUINODERMO" />
    <PhylumCard phylum="CORDADO" />
  </div>
</section>
