---
import PhylumCard from "./PhylumCard.astro";
import { phylums } from "@/utils/phylums";
---

<section
  class="w-[70%] min-h-[570px] rounded-[45px] shadow-stable mb-[40px] py-8 items-center justify-center"
>
  <div
    class="grid grid-cols-exploreContentGrid justify-items-center gap-y-12 gap-x-4 xs:mx-10 my-12"
  >
    {
      phylums.map((phy) => {
        return <PhylumCard phylum={phy.title} />;
      })
    }
  </div>
</section>
