---
import { Image } from "astro:assets";
import logoUdo from "./public/logo-udo.webp";

interface Props {
  phylum: string;
}

const { phylum } = Astro.props;
---

<a href=`/explore/${phylum}`>
  <button
    class="flex flex-col w-[175px] h-[175px] items-center justify-center p-5 gap-3 rounded-2xl shadow-stable hover:scale-110 duration-500 transition"
  >
    <!-- <img src="/logo-udo.webp" alt="Phylum" class="h-[100px] w-[100px]" /> -->
    <Image src={logoUdo} alt="Logo de la Udone" class="h-[100px] w-[100px]" />
    <h3 class="text-xl font-semibold">PROTOZOARIO</h3>
  </button>
</a>
